.body {
    font-family: 'Roboto', sans-serif;
}

body h1 {
    margin-top: 100px ;
    margin-left: 44%;
}

.centre {
    margin-left: 30%;
    margin-top: 3%;
}

.search-box{
    position: relative;
    width: 35rem;
}

.search-button {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: white;
    color: black;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}
    